<template>
<div>
<div class="home-container">
  <listing-summary-group
      v-for="(group, country) in listing_groups"
      :key="country"
      :listings="group"
      :country="country"
      class="listing-summary-group"
    ></listing-summary-group>
  </div>
</div>
</template>
<script>
import { groupByCountry } from '../js/helpers';
//import ListingSummary from './ListingSummary.vue';
import ListingSummaryGroup from './ListingSummaryGroup.vue';
//import axios from 'axios';
//import routeMixin from '../js/route-mixin';

let serverData = JSON.parse(window.vuebnb_server_data);

  let listing_groups = groupByCountry(serverData.listings);
console.log(listing_groups );
  export default {
//mixins: [ routeMixin ],
data() {
      return { 
//listing_groups:[]

 }
    },
methods: {
      assignData({ listings }) {
        this.listing_groups = groupByCountry(listings);
      },
    },
computed: {
    listing_groups() {
      return groupByCountry(this.$store.state.listing_summaries);
    }
  },
components:{
  ListingSummaryGroup
},
/*beforeRouteEnter(to, from, next) {
    let serverData = JSON.parse(window.vuebnb_server_data);
console.log(serverData)
    if (to.path === serverData.path) {
console.log(to.path);
      let listing_groups = groupByCountry(serverData.listings);
      next(component => component.listing_groups = listing_groups);
    } else {
     axios.get(`/api/`).then(({ data }) => {
        let listing_groups = groupByCountry(data.listings);
        next(component => component.listing_groups = listing_groups);
      });
    }
  }*/
  }
</script>
<style>



</style>