<template>
<div class="listing-save" @click.stop="toggleSaved()">
 <button v-if="button"> 
   <i :class="classes"></i>
   {{message}}
</button>
<i v-else :class="classes"></i>
</div>
</template>

<script>
export default{
  props:['id','button'],
  methods:{
    toggleSaved(){
      
console.log("store is empty");
  console.log(this.$store.state.saved);
//this.$store.commit('toggleSaved',this.id); //for mutation
this.$store.dispatch('toggleSaved',this.id); // for actions
    }
  },
computed: {
isListingSaved() {
      return this.$store.state.saved.find(saved => saved === this.id);
    },

message(){
 return this.isListingSaved ? 'Saved':'Save';
},
classes(){
 let saved = this.isListingSaved;
 return {
   'fa':true,
   'fa-lg':true,
    'fa-heart':saved,
'fa-heart-o': !saved
  }
}
}
}
</script>

<style>
.listing-save {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .listing-save .fa-heart-o {
    color: #ffffff;
  }
.listing-save .fa-heart {
    color: #ff5a5f;
  }
.listing-save i {
    padding-right: 4px;
  }
.listing-save button .fa-heart-o {
    color: #808080;
  }
</style>