<template>
<div>
    <header-image v-if="images[0]" :image-url="images[0]" :id="id" @header-clicked="openModal"></header-image>
            <div class="listing-container">
                <div class="heading">
                    <h1>{{ title }}</h1>
                    <p>{{ address }}</p>
                </div>
                <hr>
                <div class="about">
                    <h3>About this listing</h3>
                    <expandable-text >
                            {{ about }}
                    </expandable-text>
                </div>
                <div class="lists">
                    <feature-list title="Amentities" :items="amenities">
                       <template slot-scope="amenity">
          <i class="fa fa-lg" :class="amenity.icon"></i>
          <span>{{ amenity.title }}</span>
        </template>
                    </feature-list>

                    <feature-list title="Prices" :prices="prices">
                     <template slot-scope="price">
          {{ price.title }}: <strong>{{ price.value }}</strong>
        </template>
                    </feature-list>

                </div>
            </div>
            <modal-window ref="imagemodal">
                <image-carousel :images="images"></image-carousel>
            </modal-window>
</div>
</template>

<script>
import { populateAmenitiesAndPrices } from '../js/helpers';
//let model = JSON.parse(window.vuebnb_listing_model);
let serverData = JSON.parse(window.vuebnb_server_data);
let model = populateAmenitiesAndPrices(serverData.listing);

import  ImageCarousel from './ImageCarousel.vue';
import ModalWindow from './ModalWindow.vue';
import HeaderImage from './HeaderImage.vue';
import FeatureList from './FeatureList.vue';
import ExpandableText from './ExpandableText.vue';
import routeMixin from '../js/route-mixin';
export default{
mixins: [ routeMixin ],
data() {
    return {
      title: null,
      about: null,
      address: null,
id: null,
      amenities: [],
      prices: [],
      images: []
}
  },
/*data(){
    return Object.assign(model,{});
},*/
components: {
    ImageCarousel,
    ModalWindow,
    HeaderImage,
    FeatureList,
    ExpandableText
},
    methods:{
assignData({ listing }) {
      Object.assign(this.$data, populateAmenitiesAndPrices(listing));
    },
    openModal() {
      this.$refs.imagemodal.modalOpen = true;
    },
    },
}

</script>

<style>
.about {  margin-top: 2em;}.about h3 {  font-size: 22px;}.about p {  white-space: pre-wrap;}

</style>
