<template>
  <div id="login" class="login-container">
    <form role="form" @submit.prevent  >
    <input type="hidden" name="_token" :value="csrf_token">
      <div class="form-control">
        <input id="email" v-model="email" type="email" name="email" 
          placeholder="Email Address" required autofocus>
      </div>
      <div class="form-control">
        <input id="password" v-model="password" type="password" name="password" 
          placeholder="Password" required>
      </div>
      <div class="form-control">
           <button  @click.prevent="login" type="submit">Log in</button>
      </div>
    </form>
  </div>
</template>

<script>
    import axios from 'axios';
export default 
    
{
  data(){
   return {
       csrf_token:window.csrf_token ,
       email:'',
       password:''
    } 
  },
   methods: {
    login() {
      const data = {
        client_id: 1,
        client_secret: 'WpwAnkAxQhVf1BpBpWPgkx9QzoaNky3h53Ryo5R8',
        grant_type: 'password',
        email: this.email,
        password: this.password

      };
      axios.post('http://localhost:8000/oauth/token/', data).then(res => {
        console.log(res);
       // this.$cookie.set('api_token', res.data.access_token, 1);
      }).catch(res => {
        console.log(res);
      });
    }
  }
}
</script>

<style>
  #login form {
    padding-top: 40px;
  }

  @media (min-width: 744px) {
    #login form {
      padding-top: 80px;
    }
  }

  #login .form-control {
    margin-bottom: 1em;
  }

  #login input[type=email],
  #login input[type=password],
  #login button,
#login label {
    width: 100%;
    font-size: 19px !important;
    line-height: 24px;
    color: #484848;
    font-weight: 300;
  }

  #login input {
    background-color: transparent;
    padding: 11px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    box-sizing:border-box
  }

  #login button {
    background-color: #4fc08d;
    color: #ffffff;
    cursor: pointer;
    border: #4fc08d;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
</style>